@import "macchiato.css";

* {
  font-family: FantasqueSansMono Nerd Font;
  font-size: 14px;
  min-height: 0;
}

#waybar {
  background: transparent;
  color: text;
  margin: 5px 5px;
}

#workspaces {
  border-radius: 1rem;
  margin: 5px;
  background-color: surface0;
  margin-left: 1rem;
}

#workspaces button {
  color: lavender;
  border-radius: 1rem;
  padding: 0.4rem;
}

#workspaces button.active {
  color: sky;
  border-radius: 1rem;
}

#workspaces button:hover {
  color: sapphire;
  border-radius: 1rem;
}

#network,#backlight-slider,#cpu,#memory,#temperature,/*#battery.*,*/#battery {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  background-color: var(--surface0);
  margin-right: 1rem;
}

#backlight-slider {
  margin-right: 1rem;
  min-width: 100px;
}

#backlight-slider through {
  background-color: var(--base);
}

#backlight-slider highlight {
  background-color: white;
}

#temperature.critical {
  color: var(--maroon);
}

#custom-music,
#tray,
#backlight,
#clock,
#battery,
/*#battery.*,*/
#pulseaudio,
#custom-lock,
#custom-power {
  background-color: var(--surface0);
  padding: 0.5rem 1rem;
  margin: 5px 0;
}

#clock {
  color: var(--blue);
  border-radius: 1rem;
  margin-right: 0;
}

#battery {
  margin-right: 1rem;
}

#battery.discharging {
  color: var(--yellow);
}

#battery.charging {
  color: var(--green);
}

#battery.warning:not(.charging) {
  color: var(--red);
}

#backlight {
  color: var(--yellow);
}

#backlight {
  border-radius: 0;
}

#pulseaudio {
  color: var(--maroon);
  border-radius: 1rem;
  margin-right: 1rem;
}

#custom-music {
  color: var(--mauve);
  border-radius: 1rem;
}

#custom-lock {
  border-radius: 1rem 0px 0px 1rem;
  color: var(--lavender);
}

#custom-power {
  margin-right: 1rem;
  border-radius: 0px 1rem 1rem 0px;
  color: var(--red);
}

#tray {
  margin-right: 1rem;
  border-radius: 1rem;
}